/* -- DEFAULTS -- */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: green;
}

form{
    width:100%;
}

header {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    color: white;
    font-family: 'Lora', serif;
}

.masthead {
    background-image:url("/images/greenV2.jpg");
    background-size: cover;
}

fieldset {
    margin: 2%;
    background-color: yellowgreen;
    position: relative;
    padding-top: 3%;
}


legend {
    font-family: 'Lora', serif;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: green;
    padding: 2% 0 2% 0;
    float: left;
    width: 100%;
    text-align: center;
}

div .box {
    
}

#comments_label {
    display: none;
}

#comments {
    width: 100%;
    padding: 4% 0% 4% 0.5%;
    margin: 1%% auto 0 auto;
}

#email_label {
    display: none;
}

#email {
    width: 100%;
    margin: 1.5% auto 0 auto;
    padding: 0.5%;
}

#url_label {
    display: none;
}

#url {
    width: 100%;
    margin: 1.5% auto 0 auto;
    padding: 0.5%;
}

#password_label {
    display: none;
}

#password {
    width: 100%;
    margin: 1.5% auto 0 auto;
    padding: 0.5%;
}

#submit_label {
    display: none;
}

#submit {
    width: 100%;
    margin: 1.5% auto 0 auto;
    padding: 0.5%;
}

@media only screen and (min-device-width: 36em) and (max-device-width: 60em) {
    
    .box_comments input #comments, .box_email input #email, .box_submit input #submit{
        display: block;
        width: 50%;
        float: left;
    }

}

@media only screen and (min-device-width: 36em) and (max-device-width: 60em) {
}
