/* -- DEFAULTS -- */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: green;
}

form{
    width:100%;
}

header {
    background-color: green;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    color:greenyellow;
    font-family: 'Lora', serif;
}

fieldset {
    margin: 2%;
    background-color: yellowgreen;
    position: relative;
    padding-top: 3%;
}


legend {
    font-family: 'Lora', serif;
    color: yellowgreen;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: green;
    padding: 2% 0 2% 0;
    float: left;
    width: 100%;
    text-align: center;
}

div .box {
    
}

#comments_label {
    display: none;
}

#comments {
    width: 100%;
    padding: 5% 0 5% 0;
    margin: 1.5% auto 0 auto;
}

#email_label {
    display: none;
}

#email {
    width: 100%;
    margin: 1.5% auto 0 auto;
}

#url_label {
    display: none;
}

#url {
    width: 100%;
    margin: 1.5% auto 0 auto;
}

#password_label {
    display: none;
}

#password {
    width: 100%;
    margin: 1.5% auto 0 auto;
}

#submit_label {
    display: none;
}

#submit {
    width: 100%;
    margin: 1.5% auto 0 auto;
}

@media only screen and (min-device-width: 36em) and (max-device-width: 60em) {
    
    input#comments, input#email, input#submit {
        display: block;
        width: 50%;
        float: left;
    }

}

@media only screen and (min-device-width: 36em) and (max-device-width: 60em) {
}
