/* -- DEFAULTS -- */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
}

header {
    background-color: green;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    color:greenyellow;
    font-family: 'Lora', serif;
}

form{
    width: 90%;
    margin: 0 auto;
}

fieldset {
    margin: 2%;
    background-color: yellowgreen;
    position: relative;
    padding-top: 3%;
}

legend {
    font-family: 'Lora', serif;
    color: yellowgreen;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: green;
    padding: 2% 0 2% 0;
    float: left;
    width: 100%;
    text-align: center;
}

label {
    display: block;
}

input {
    width: 100%;
}

.box {
    /* need some padding here */
}


@media only screen and (min-width: 36rem) and (max-width: 60rem) {
    
    .box {
        width: 50%;
        float: left;
    }

}

@media only screen and (min-width: 60rem) and (max-width: 60rem) {
    
}
